<form action="/edit" method="post">
  

    <input type="text" name="name" id="" value="<%= todo.name %>">
    
    <input type="text" name="id" value="<%=todo._id %>" hidden>
 
    <button type="submit"> update </button>


    // skicka in hela data listan 
    // gör samma sak dvs loop som index.ejs

    // kolla upp id liknar id som skickas via router när edit renderas 

    //     form med nya data , action ="/edit"
     
    

    // query string , recap , error,  live-handledning

    // 13.00 - 14.00 :-  
    // 14-17.00 : individuell handledning

    
</form>