
<head>
      <title> Express app</title>
      
</head>

<body>
    <h1> 
        Hello från ejs
    </h1>
    <p>   
           
        <%=  data.name   %>      
        <%=  data.price   %>       
    
    </p>
</body>