<form action="/register" method="post">

 
    <%= errors[0] %>
  <input type="text" name="name" id="" placeholder="Username">

  <%= errors[1] %>
  <input type="text" name="password" id="" placeholder=" Password">

  <input type="email" name="email" id="" placeholder="Email">

  <button type="submit">Register</button>

</form>