
<form action="/resetPass" method="post">

    <input type="password" name="password" id="" placeholder="Ange nytt lösenord">
    <input type="password" name="Upprepatpassword" id="" placeholder="upprepa lösenord">
    <input type="text" name="email" value="<%=user.email%>" hidden>

     <button type="submit"> Send </button>
</form>