<nav>
    <a href="/"> MY Profile </a>
    <a href="/showMyCourses"> Show my courses</a>
    <a href="/logout"> Logout    </a>
    <a href="/showCourses"> ShowCourses </a>
    <a href="/checkout"> my cart</a>
    <a href="/addCourse"> Add courses </a>
</nav>