


    <%= cartItem[0].price %> 
    

    <button type="submit"> btn </button>



<script src="https://js.stripe.com/v3/"></script>

<script>

var stripe = Stripe('pk_test_51ILllLGbZ7iRrOxjc10CIcp12K40Hlr6YbEUNBTP35QIKkva1U2qnJbrcNoY27QwPdn03plnvnqemjtjMc6pQ5k400xHAbSVxe');

document.querySelector("button").addEventListener( "click", ()=>{
    stripe.redirectToCheckout({ sessionId: "<%=sessionId %>" });
})


</script>