<form action="/register" method="post">

 
    <%= errors[0] %>
  <input type="text" name="name" id="">

  <%= errors[1] %>
  <input type="text" name="password" id="">

  <button type="submit">Register</button>

</form>