<form action="/register" method="post">

 
    <%= errors[0] %>
  <input type="text" name="name" id="" placeholder="user name">
  
  <%= errors[1] %>
  <input type="text" name="password" id="" placeholder="Lösenord">


  <input type="email" name="email" id="" placeholder="email" >

  <button type="submit">Register</button>

</form>